@use './../../partials/variables' as *;
@use './../../partials/mixins' as *;

.restaurant-menu {

    &__category-card {
        background-color: $peanut-white;
        box-shadow: 0 0 1.5rem rgba(57, 50, 67, 0.5);
        border-radius: $border-radius-rounded;
        padding: 2rem;
        margin-bottom: 3rem;
    }

    &__category-heading {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        font-size: 1.0625rem;
    }

    &_category-list {
        display: flex;
        flex-direction: column;
    }
}