@use './../../partials/variables' as *;
@use './../../partials/mixins' as *;

.restaurant-menu {

    &__category-card {
        border: .0625rem solid $peanut-black;
        border-radius: $border-radius-rounded;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    &__category-heading {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        font-size: 1.0625rem;
    }

    &_category-list {
        display: flex;
        flex-direction: column;
    }
}