@use './../../partials/variables' as *;
@use './../../partials/variables' as *;
@use './../../partials/mixins' as *;

.restaurants {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__map-container {
        position: fixed;
        width: 100%;
        height: 100vh;
    }

    &__main-container {

        @include tablet {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }

        @include desktop {
            width: 80%;
        }
    }

    &__filters-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding: 3rem 2rem 6rem;
        background-color: $peanut-byzantium;
        position: relative;
        border-top-right-radius: $border-radius-extra-rounded;
        border-top-left-radius: $border-radius-extra-rounded;
        margin-top: 43vh;
        z-index: 2;
        margin-left: 1rem;
        margin-right: 1rem;
        box-shadow: 0 0 1.5rem rgba(57, 50, 67, 0.5);

        @include tablet {
            width: 40%;
            flex-direction: column;
            margin-bottom: 3rem;
            margin-right: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: $border-radius-extra-rounded;
        }
    }

    &__subheader {
        color: $peanut-beige;
        font-weight: 700;

        @include tablet {
            margin-bottom: 2rem;
        }
    }

    &__categories-container {
        background-color: $peanut-violet;
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        border-radius: $border-radius-rounded;

        @include tablet {
            margin-bottom: 1rem;
        }
    }

    &__selected-option {
        color: $peanut-peach;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: .3125rem 1.5rem;
        font-weight: 600;

        &.selected {
            background-color: $peanut-peach;
            color: $peanut-black;
            border-radius: $border-radius-rounded;
        }
    }

    &__drop-down-icon {
        fill: $peanut-peach;

        &.selected {
            fill: $peanut-black;
        }
    }

    &__close_icon {
        cursor: grab;
        fill: $peanut-peach;
        align-self: flex-start;
        margin-left: 1rem;
        margin-top: 0.3rem;

        @include tablet {
            margin-top: 1rem;
        }
    }

    &__categories-list {
        list-style-type: none;
        font-weight: 600;
    }

    &__category-option {
        padding: 0.5rem 1.5rem;
        color: $peanut-peach;
    }

    &__card-container {
        background-color: $peanut-beige;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem;
        border-radius: $border-radius-extra-rounded;
        margin-top: -2.9rem;
        z-index: 3; 
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 3rem;
        box-shadow: 0 0 1.5rem rgba(57, 50, 67, 0.5);

        @include tablet {
            width: 60%;
            margin-top: 43vh;
            margin-left: -5vw;
        }
    }

    &__error-message {
        display: flex;
        justify-content: center;
    }
}