@use './../../partials/mixins' as *;

.home {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__heading-container {
        height: 30vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;

        @include mobile-large {
            width: 75%;
        }
    }

    &__logo {
        align-self: flex-start;
    }

    &__slogan {
        align-self: flex-end;
    }

    &__hero {
        height: 70vh;
        background-image: url('./../../assets/images/picture1.png');
        background-size: cover;
        background-position: 25% center;
        background-repeat: no-repeat;
    }
}