@use './../../partials/variables' as *;

.restaurant-menu {

    display: flex;
    flex-direction: column;
    padding: 1rem;

    &__header {
        margin: 0 auto;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

    &__filters-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1rem;
    }

    &__allergens-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
    }

    &__filter-name {
        width: 20%;
        align-self: center;
        margin-right: 1rem;
    }

    &__filter-name>h2 {
        font-size: .9375rem;
    }

    &__subcontainer {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    &__allergens {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        &.subcontainer {
            width: 80%;
            margin: auto 0;
        }
    }

    &__allergen_button {
        width: 31%;
        max-width: 6.875rem;
        min-width: fit-content;
        max-height: 1.5625rem;
        border: .125rem solid $peanut-black;
        border-radius: $border-radius-rounded;
        padding: .1875rem .3125rem;
        display: flex;
        justify-content: center;

        &:hover {
            background-color: $peanut-sand;
        }

        &--selected {
            width: 31%;
            max-width: 6.875rem;
            min-width: fit-content;
            max-height: 1.5625rem;
            border: none;
            border-radius: $border-radius-rounded;
            padding: .1875rem .3125rem;
            background-color: $peanut-peach;
            display: flex;
            justify-content: center;
        }
    }

    &__restrictions-container {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}