@use './typography' as *;
@use './variables' as *;
@use './mixins' as *;

* {
    font-family: 'Roboto';
    font-size: .875rem;
    font-weight: 500;
    color: $peanut-black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    font-family: 'Playfair Display';
    font-size: 2rem;
    color: $peanut-byzantium;

    @include mobile-large {
        font-size: 2.3rem;
    }

    &--slogan {
        font-family: 'Playfair Display';
        font-size: 2rem;
        color: $peanut-brick;

        @include mobile-large {
            font-size: 2.3rem;
        }
    }
}

.section-header {
    font-family: 'Playfair Display';
    font-size: 1rem;
    font-weight: 700;
}

.section-subheader {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 700;
}

.section-body {
    font-size: .8125rem;
    font-weight: 500;
}

.button {
    border: .0625rem solid $peanut-peach;
    border-radius: $border-radius-rounded;
    padding: .3438rem 0.75rem;

    &:hover {
        background-color: $peanut-sand;
    }

    &--selected {
        border: none;
        border-radius: $border-radius-rounded;
        padding: .3438rem 0.75rem;
        background-color: $peanut-peach;
    }
}
