//screen breakpoints
$breakpoint-mobile  : 320px; 
$breakpoint-mobile-large  : 425px; 
$breakpoint-tablet  : 768px;
$breakpoint-desktop : 1280px;

//colors
$peanut-black : rgb(62, 62, 62);
$peanut-byzantium : rgb(45, 30, 35);
$peanut-brick : rgb(244, 176, 134);

$peanut-peach : rgb(247, 195, 67);
$peanut-sand : rgb(254, 244, 224);
$peanut-beige : rgb(252, 250, 249);
$peanut-white : rgb(255, 255, 255);

$border-radius: .3125rem;
$border-radius-rounded: 1.5625rem;