//screen breakpoints
$breakpoint-mobile  : 320px; 
$breakpoint-mobile-large  : 425px; 
$breakpoint-tablet  : 768px;
$breakpoint-desktop : 1280px;

//colors
$peanut-black : rgb(62, 62, 62);
// $peanut-byzantium : rgb(45, 30, 35);
$peanut-byzantium : rgb(57, 50, 67);
$peanut-brick : rgb(244, 176, 134);

$peanut-peach : rgb(247, 195, 67);
$peanut-sand : rgb(242, 244, 224);
// $peanut-beige : rgb(248, 239, 239);
$peanut-beige : rgb(252, 250, 249);

$peanut-beige-faded : rgba(252, 252, 252);

$peanut-white : rgb(255, 255, 255);
$peanut-violet : rgb(84, 77, 91);

$border-radius: .3125rem;
$border-radius-rounded: 1.5625rem;

$border-radius-extra-rounded: 3.125rem;