//screen breakpoints
$breakpoint-mobile  : 320px; 
$breakpoint-mobile-large  : 425px; 
$breakpoint-tablet  : 768px;
$breakpoint-desktop : 1280px;

//colors
$peanut-black : rgb(62, 62, 62);
$peanut-byzantium : rgb(90, 50, 33);
$peanut-brick : rgb(233, 134, 56);
$peanut-peach : rgb(244, 176, 134);
$peanut-sand : rgb(254, 244, 224);

$border-radius: .3125rem;
$border-radius-rounded: 1.5625rem;